* {
  box-sizing: border-box;
}

body{
    background-color: #F0F8FF;
    color: #004b88;
    padding: 0;
    margin: 0;
}

main{
  margin: auto;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.Logo{
  height: 100px;   
  width: auto;   
}

li{
    display: inline-block;
    margin: 15px;
}

a{
  text-decoration: none;
  background-color: #004b88; 
  color: #ffffff;           
  padding: 8px 16px;
  border-radius: 6px;
}

a:hover{
  background-color: #003366;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
 img{
  width: 800px;
  height: 500px;
  border-radius: 10px;
 }

 h1{
  margin-top: -20px;
  font-size: 35px;
 }

 h3{
  font-size: 18px;
  margin-top: -10px;
 }

 p{
  font-size: 18px;
  margin-top: 50px;
 }

 span{
  font-weight: bold;
  color:#003366 ;
 }

 h2{
  margin-top: 150px;
  font-size: 30px;
 }

.chat-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px; 
  border: 2px solid #004080; 
  border-radius: 10px;
  padding: 10px;
  background-color: #F0F8FF;
}

.chat-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #004080;
  margin-bottom: 10px;
}

.chat-header .mascote {
  width: 40px;
  height: auto;
  margin-right: 8px; /* espaço entre mascote e texto */
}

.chat-input {
  display: flex;
  margin-top: 10px;
}

#chat {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#send-btn {
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#send-btn:hover {
  background-color: #003366; /* tom mais escuro no hover */
}
