@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #F0F8FF;
    color: #004b88;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: #F0F8FF;
  border-radius: 8px;
}

.logo{
    height: 100px;
    width: auto;
}

li{
    display: inline-block;
    margin: 15px;
}

.navbar{
    text-decoration: none;
    background-color: #004b88;
    color: #ffff;
    border-radius: 6px;
    padding: 6px 12px;
}

.navbar:hover{
  background-color: #003366;
}

main{
   display: flex;
   justify-content: center;
   align-items: center; 
   margin-top: 130px;
}

.card-login{
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    background: #F0F8FF;
    border-radius: 20px;
    border: 3px solid #004b88;
    margin-top: 10px;
    line-height: 20px;
    
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aac6e3;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

input::placeholder{
    color: #012441;
}

button{
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    z-index: -1;
    background-image: url(../img/unigestao.png);
}